/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 19, 2019, 10:39:05 AM
    Author     : plwg1
*/

    
            body{
                font-family: fantasy;
            }
            #shape {
                width: 200px;
                height: 200px;
               background-color: red; 
             display: none;
              position: relative;
              
            }
            
            